
<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Register here for Papertron</title>
  </head>
  <body>
    <h1>Register here</h1>
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="form-signin" role="form" action="/register" method="post">
        <h2 class="form-signin-heading">Please register here</h2>
        <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input name="username" type="text" class="form-control" placeholder="Username" required>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
    <div class="col-md-3"></div>
    </div>
    <footer>
        <p>&copy; <a href="http://hackatron.org/">Hackatron</a> 2014</p>
    </footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <!-- Start bootstrap -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>